
@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_MyVendorLayout.cshtml";
}


<!DOCTYPE html>
<html>

<head>
    <!--meta tags-->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">



    <title>Dashboard</title>
    <!-- favicon -->
    <!--<link rel="shortcut icon" href="../../App_Themes/Default/images/favicon.ico" type="image/x-icon">-->

    <link href="~/App_Themes/Default/css/popup.css" rel="stylesheet" />
    <script src="~/Scripts/pop_up_message.js"></script>
    <script src="../../Scripts/Kendo/jquery.min.js"></script>
    <script src="../../Scripts/Kendo/kendo.all.min.js"></script>
    <script src="../../Scripts/CLARENT/Other/Custom/Custom.js"></script>
    @*<link href="../../App_Themes/Default/css/kendo.common.min.css" rel="stylesheet" />*@
    @*<link href="../../App_Themes/Default/css/kendo.default.min.css" rel="stylesheet" />*@
    @*<link href="~/App_Themes/Default/css/fonts.css" rel="stylesheet" />*@
    @*<link href="~/App_Themes/Default/css/styleguide.css" rel="stylesheet" />*@
    @*<link href="~/App_Themes/Default/css/casepoint.comfortable.css" rel="stylesheet" />*@
    @*<link href="~/App_Themes/Default/css/kendo.Deeppurple.css" rel="stylesheet" />*@

    <!-- css -->
    <link href="../../App_Themes/Default/css/core-pocket.css" rel="stylesheet" />
    <link href="../../App_Themes/Default/css/core-pocket-responsive.css" rel="stylesheet" />

    @*<link href="~/App_Themes/Default/css/Dashboard.css" rel="stylesheet" />*@
    <script src="~/JavaScript/Dashboard/Dashboard.js"></script>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <script src="~/Scripts/bootstrap.min.js"></script>
    <link href="~/App_Themes/Default/css/fonts.css" rel="stylesheet" />
    <script src="~/Scripts/Kendo/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    @*new link*@
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Raleway:100,200,400,500,600" rel="stylesheet" type="text/css">
    <link href="~/App_Themes/Default/css/Dashboard1.css" rel="stylesheet" />
    <style>
        html {
            font-size: 14px;
            font-family: HK Grotesk Medium, sans-serif;
            background-color: white;
        }
    </style>
    <title></title>
    <link href="~/App_Themes/Default/css/kendo.default.min.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/Kendo/kendo.all.min.js"></script>
    <script>

        var API_URL = "@System.Configuration.ConfigurationManager.AppSettings["APIBase"]";
        var UI_URL = " @System.Configuration.ConfigurationManager.AppSettings["UIBase"]";
    </script>

</head>

<body style="background-color:white;">

    <div class="main-part">
        <div class="cpanel cpanel-blue" style="margin: 0px 10px 0px 0px;">
            <div class="icon-part">
                <i class="fa fa-users" aria-hidden="true"></i>
                <b><p class="counter">@ViewBag.data2</p></b>
                <b><p>Total Vendors</p></b>
            </div>
        </div>

        <div class="cpanel cpanel-orange" style="margin: 0px 10px 0px 0px;">
            <div class="icon-part">
                <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                <b><p class="counter">@ViewBag.data</p></b>
                <b><p>Total Orders</p></b>
            </div>
        </div>

        <div class="cpanel cpanel-green" style="margin: 0px 10px 0px 0px;">
            <div class="icon-part">
                <i class="fa fa-wrench" aria-hidden="true"></i>
                <b><p class="counter">@ViewBag.data1</p></b>
                <b><p>Total Servies</p></b>
            </div>
        </div>
    </div>



    @*================================*@
    @* ==========All chart==========*@

    <div class="card-body">
        <div class="row-md-12">
            @*//chart vendors*@
            <div class="col-md-4">
                <label><h3>Total Vendors</h3></label>
                <div class="grid-wrapper h100" id="list_view_content">
                    <div id="chart3" class="mb-0"></div>
                </div>
            </div>

            <div class="col-md-4">
                <label align="center"><h3>Total Orders</h3></label>
                <div class="grid-wrapper h100" id="list_view_content">
                    <div id="chart" class="mb-0"></div>

                </div>
            </div>
            @*//chart service*@
            <div class="col-md-4">
                <label><h3>Total Services</h3></label>
                <div class="grid-wrapper h100" id="list_view_content">
                    <div id="chart2" class="mb-0"></div>
                </div>
            </div>
        </div>
    </div>

    <script>
                        function createChart() {

                            $("#chart").kendoChart({
                                dataSource: {
                                    transport: {
                                        read: {
                                            url: API_URL + "api/DashBoardAPI/GetOrderChart",
                                            dataType: "json"
                                        }

                                    },
                                    sort: {
                                        field: "month_year",
                                        dir: "asc"
                                    }
                                },

                                legend: {
                                    position: "bottom"
                                },
                                chartArea: {
                                    background: ""
                                },
                                seriesDefaults: {
                                    type: "line",
                                    style: "smooth"
                                },
                                series: [
                                {
                                    field: "count",
                                    categoryField: "month_year",
                                    name: "Date",
                                    template: '#= kendo.toString(kendo.parseDate(count), "dd/MM/yyyy")#'
                                }
                                ],
                                valueAxis: {
                                    labels: {
                                        format: "{0}"
                                    },
                                    line: {
                                        visible: false
                                    },
                                    axisCrossingValue: -10
                                },
                                tooltip: {
                                    visible: true,
                                    //format: "{0}%",
                                    //template: "#= series.name #: #= value #"
                                }
                            });


                            //Total Service Chart


                            $("#chart2").kendoChart({
                                dataSource: {
                                    transport: {
                                        read: {
                                            url: API_URL + "api/DashBoardAPI/GetServicechart",
                                            dataType: "json"
                                        }

                                    },
                                    sort: {
                                        field: "month_year",
                                        dir: "asc"
                                    }
                                },

                                legend: {
                                    position: "bottom"
                                },
                                chartArea: {
                                    background: ""
                                },
                                seriesDefaults: {
                                    type: "line",
                                    style: "smooth"
                                },
                                series: [
                                {
                                    field: "count",
                                    categoryField: "month_year",
                                    name: "Date",
                                    template: '#= kendo.toString(kendo.parseDate(count), "dd/MM/yyyy")#'
                                }
                                ],
                                valueAxis: {
                                    labels: {
                                        format: "{0}"
                                    },
                                    line: {
                                        visible: false
                                    },
                                    axisCrossingValue: -10
                                },
                                tooltip: {
                                    visible: true,
                                    //format: "{0}%",
                                    //template: "#= series.name #: #= value #"
                                }
                            });

                            //Total Vendors Chart

                            $("#chart3").kendoChart({
                                dataSource: {
                                    transport: {
                                        read: {
                                            url: API_URL + "api/DashBoardAPI/GetVendorsChart",
                                            dataType: "json"
                                        }

                                    },
                                    sort: {
                                        field: "month_year",
                                        dir: "asc"
                                    }
                                },

                                legend: {
                                    position: "bottom"
                                },
                                chartArea: {
                                    background: ""
                                },
                                seriesDefaults: {
                                    type: "line",
                                    style: "smooth"
                                },
                                series: [
                                {
                                    field: "count",
                                    categoryField: "month_year",
                                    name: "Date",
                                    template: '#= kendo.toString(kendo.parseDate(count), "dd/MM/yyyy")#'
                                }
                                ],
                                valueAxis: {
                                    labels: {
                                        format: "{0}"
                                    },
                                    line: {
                                        visible: false
                                    },
                                    axisCrossingValue: -10
                                },
                                tooltip: {
                                    visible: true,
                                    //format: "{0}%",
                                    //template: "#= series.name #: #= value #"
                                }
                            });
                        }
                        $(document).ready(function () {

                            createChart();
                        });
    </script>



    @*//orderGrid Code*@
    <div class="card-body">
        <div class="row-md-12">
            <div class="col-md-6">
                <br><br>
                <label align="center"><h3>Total Pending Orders</h3></label>
                <div class="grid-wrapper h100" id="list_view_content">
                    <div id="categoryGrid" class="mb-0"></div>
                    <div id="categoryGrid_pager" class="with-more-option"></div>
                </div>
            </div>

            @*//grid Service*@
            <div class="col-md-6">
                <br><br>
                <label><h3>Total Pending Services</h3></label>
                <div class="grid-wrapper h100" id="list_view_content">
                    <div id="serviceGrid" class="mb-0"></div>
                    <div id="serviceGrid_pager" class="with-more-option"></div>
                </div>
            </div>
        </div>
    </div>


    @*ordergrid*@
    <script>
                    $(document).ready(function () {
                        $("#grid").kendoGrid({
                            height: 550,
                            sortable: true
                        });
                    });


                    $("#categoryGrid").kendoGrid({
                        dataSource: {
                            //type: "odata",
                            transport: {
                                read: API_URL + "api/DashBoardAPI/GetOrderGrid"
                            },
                            pageSize: 6
                        },
                        height: 500,
                        pageable: true,
                        sortable: true,
                        reorderable: true,
                        schema: {
                            model: {
                                id: "OrderId",
                                fields: {
                                    OrderId: { editable: false, nullable: true },

                                }
                            }
                        },
                        columns:
                            [
                        {
                            field: "Vname",
                            title: "Vendors Name"
                        },
                        {
                            field: "Sname",
                            title: "Sub Category Name",
                            //width: "100px"
                        },
                        //{
                        //    field: "Quanlity",
                        //    title: "Quanlity",
                        //    attributes:{'class':'k-text-right'
                        //}},
                        {
                            field: "Payment_status",
                            title: "Payment Status"
                        }]
                    });

    </script>

    @*//servicegrid*@
    <script>
                    $(document).ready(function () {
                        $("#grid").kendoGrid({
                            height: 550,
                            sortable: true
                        });
                    });


                    $("#serviceGrid").kendoGrid({
                        dataSource: {
                            //type: "odata",
                            transport: {
                                read: API_URL + "api/DashBoardAPI/GetServiceGrid"
                            },
                            pageSize: 6
                        },
                        height: 500,
                        pageable: true,
                        sortable: true,
                        reorderable: true,
                        schema: {
                            model: {
                                id: "OrderId",
                                fields: {
                                    OrderId: { editable: false, nullable: true },

                                }
                            }
                        },
                        columns:
                            [
                        {
                            field: "Vname",
                            title: "Vendors Name"
                        },
                        {
                            field: "Sname",
                            title: "Sub Category Name",
                            //width: "100px"
                        },
                        {
                            field: "Payment_status",
                            title: "Payment Status"
                        }]
                        //{
                        //    field: "Servicestatus",
                        //    title: "Service Type",
                        //    template: "#if(Servicestatus == true){#<div><img src='" + UI_URL + "Image/checkbox-line.png'></div>#} else{#<div><img src='" + UI_URL + "Image/checkbox-blank-line.png' /></div>#}#"
                        //},
                        //{
                        //    field: "TypeRepair",
                        //    title: "Repair Type",
                        //    template: "#if(TypeRepair == true){#<div><img src='" + UI_URL + "Image/checkbox-line.png'></div>#} else{#<div><img src='" + UI_URL + "Image/checkbox-blank-line.png' /></div>#}#"
                        //}]
                    });

    </script>



</body>
</html>

